<div id="tagcloud" class="sidebar">
	<div class="title">Linked Concepts</div>
	<ul>
	<% @link_cons[0..9].each do |c| %>
		<li> <%= link_to c.title[0..50], item_path(c) %> </li>
	<% end %>
	</ul>
</div>
