<div id="tagcloud" class="sidebar">
	<div class="title">Top Scorers</div>
	<ul>
	<% Game.valid.displayable.find_all(&:score).sort_by(&:score).reverse[0..10].each do |e| %>
		<li> <%=  "#{e.user.uid} : #{e.score} (#{e.start_at.to_date})" %> </li>
	<% end %>
	</ul>
</div>
