<div id="tagcloud" class="sidebar">
	<div class="title">Relevant Concepts</div>
	<ul>
	<% @rank_list.each_with_index do |e,i| %>
	    <li><%= link_to @cons[e[0]].title, {:controller=>'items', :action=>'click', :htype=>'con_con', :id=>@cons[e[0]].id, :src_item_id=>@item.id, :position=>(i+1), :skipped_items=>@rank_list[0..i].reverse.map{|e|e[0]}.join("|")} %></li>
	<% end %>
	</ul>
</div>
