.bundle
db/*.sqlite3
log/*.log
tmp/**/*
etc/deprecated/**/*
solr/data/**/*
config/config.yml
config/database.yml
config/sunspot.yml
.gitignore~
data/evaluation_production-20101121-con-cval-all---k2-1-.csv
data/evaluation_production-20101121-con-cval-all---k2-2-.csv
data/feature-production-20101121-con-ranksvm-all-.csv
data/feature-production-20101121-con-ranksvm-all-.csv.test
data/feature-production-20101121-con-ranksvm-all-.csv.train
data/feature-production-20101121-csel-ranksvm-all-.csv
data/learner_input/learner_input-production-20101121-con-ranksvm-all--k2-1.csv.test
data/learner_input/learner_input-production-20101121-con-ranksvm-all--k2-1.csv.train
data/learner_input/learner_input-production-20101121-con-ranksvm-all--k2-2.csv.test
data/learner_input/learner_input-production-20101121-con-ranksvm-all--k2-2.csv.train
data/learner_output/learner_output_production-20101121-con-grid-all--k2-1.csv
data/learner_output/learner_output_production-20101121-con-grid-all--k2-2.csv
doc/README_FOR_APP
etc/deprecated/Ruby Stdlib.tmproj
etc/deprecated/concepts.erb
log/sunspot-solr-development.log.lck
log/sunspot-solr-production.log.lck
log/sunspot-solr-test.log.lck
public/.htaccess
test/integration/batch_job_test.rb.bak
test/integration/file_collector_test.rb.bak
test/integration/indexer_test.rb.bak
test/integration/log_collector_test.rb.bak
test/unit/item_test.rb.bak
test/unit/occurrence_test.rb.bak
test/unit/tag_test.rb.bak