<h1> Login</h1>
<div class = "depot-form"> 
	<% form_tag do %> 
	<fieldset> 
		<legend>Please Log In</legend> 
		<div> 
			<label for = "name">User ID:</label> 
			<%= text_field_tag :uid, params[:uid] %> 
		</div> 
		<div> 
			<label for = "password">Password:</label> 
			<%= password_field_tag :password, params[:password] %> 
		</div> 
		<div> 
		<%= submit_tag "Login" %> 
	</div> 
	</fieldset> 
	<% end %> 
</div> 
<h2><%= raw "Or start by creating your account "+link_to("here",:controller=>:users, :action=>:new) %></h2>
