# See http://github.com/eugenebolshakov/app_config
# parsed as ERB, apparently, not YAML?
# accessible as Conf.whatever
# NB must reload app after changing this file

common:
  collector_sync_interval: 30
  hour_daybreak: 4
  debug: true
  cache: true
  weight_con: uniform
  weight_doc: uniform
  
development:
  webserver_port: 3000
  memcached_port: 3100
  solr_server: http://localhost:3200/solr
  
test:
  webserver_port: 3001
  memcached_port: 3101
  solr_server: http://localhost:3201/solr
  
production:
  webserver_port: 3002
  memcached_port: 3102
  solr_server: http://localhost:3202/solr
