# See http://github.com/eugenebolshakov/app_config
# parsed as ERB, apparently, not YAML?
# accessible as Conf.whatever
# NB must reload app after changing this file

common:
  collector_sync_interval: 5
  hour_daybreak: 4
  rule_searcher: "method:dirichlet,mu:50"
  
development:
  searcher_port: 3100
  
test:
  searcher_port: 3101

production:
  searcher_port: 3102
