<div class="sidebar">
	<div class="title">Linked Concepts</div>
	<ul>
	<% @link_cons.find_all{|e|e.title != TEXT_DUMMY}[0..9].each do |c| %>
		<li> <%= link_to c.title[0..50], :action=>:show, :id=>c.id %> </li>
	<% end %>
	</ul>
</div>
